body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("../public/background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

h1,
h2,
h3 {
  color: #e7f2ff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Swiss721";
  src: local("Swis721"), url(./shared/assets/fonts/swiss.ttf) format("truetype");
}
