<div class="jumbotron">
    <h1>ILA - Inventário LGPD Automatizado - v1.6.1</h1>
    <h2>Documentação da Web API</h2>
    <p class="lead">Esta Web API é disponibilizada para a criação, visualização, edição e gestão de itens de Caso de Uso de dados pessoais, conforme especificações do Comitê LGPD da CPTM.</p>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Como começar?</h2>
        <p>No momento, esta API só pode ser consumida por usuários aprovados pelo Comitê LGPD, em especial através da aplicação frontend desenvolvida conjuntamente. Posteriormente, ela será adaptada para permitir consultas por parte de outros sistemas e desenvolvedores</p>
    </div>
</div>