@using CPTM.Comum;

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Java Script - JQuery *@
<script type="text/javascript">

    $(document).ready(function() {

    });

</script>
@*Java Script - JQuery *@

<h1>Inventário LGPD Automatizado - API</h1>

<h2>Lista de Recursos (Endpoints /api)</h2>
<ol>
    <li>
        <h3>Recursos de Usuários (../users)</h3>
        <ol>
            <li>Login (POST ../login)</li>
        </ol>
    </li>
    <li>
        <h3>Recursos dos Casos de Uso de Dados Pessoais (../cases)</h3>
    </li>
</ol>