@{
    ViewBag.Title = "Modal Filha";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
    ViewBag.LarguraModal = "600px";
    ViewBag.LoremIpsum = @"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.";
}
<div class='row'>
    <div class='col-xs-12'>
        <h3>
            Clique no Cabeçalho para retrair</h3>
        Ao fazer chamadas Jquery usar $("#form #elemento") quando nos formulários pais e filhos houverem elementos com o mesmo ID
    </div>
    <div class='col-xs-12'>
        @String.Join(Environment.NewLine, Enumerable.Repeat(ViewBag.LoremIpsum, 2));
    </div>
    <div class='row'>
        <div class='col-xs-12' style='text-align: right; padding-right: 20px'>
            <button class='btn btn-danger' data-fechar='modal'>
                Fechar</button>
            <button class='btn btn-danger' data-fechar="todas">
                Fechar Todas</button>
        </div>
    </div>
</div>

