@{
    ViewBag.Title = "Erro de Ambiente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Ícone*@
<div class="campo1-esquerdo" style="padding: 20px; z-index: 100; min-height: 500px;">
    <img alt="Erro" src="/Compartilhado/Images/erro.png" />
</div>
@*Ícone*@
<div class="campo1-esquerdo" style="padding-left: 30px;">
    <br /><br /><br /><br />
    <div class="page-header">
        <h2>Erro de Ambiente</h2>
    </div>
    <br /><br /><br />
    <h3>
        Ocorreu um erro interno.<br /><br />
        Por favor, tente executar a operação novamente.<br /><br />
        Se o problema persistir, entre em contato com o Service Desk.
    </h3>
</div>
